@import '~antd/dist/antd.css';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #EEEEEE;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* https://css-tricks.com/idea-simple-responsive-spreadsheet/ */

table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    background-color: #F9F9F9;
}

td, th {
    white-space: nowrap;
    border: 1px solid #ddd;
    padding: 7px;
}

th {
    background-color: #eee;
}

tbody tr td:first-of-type {
    background-color: #eee;
}

.ant-tabs-tabpane {
    background: white;
    height: 100%;
}

.ant-tabs-content {
    height: 100%;
}

.ant-tabs {
    height: 100%;
}

.ant-tabs,
.ant-tabs-nav,
.ant-tabs-nav-wrap {
    background: transparent;
}

.ant-tabs-nav {
    margin-bottom: 0px !important;
}

.ant-tabs-tab-btn {
    height: 25px;
}

textarea {
    resize: none;
}

.ant-menu-item {
    height: auto !important;
    white-space: normal !important;
}